@font-face {
  font-family: 'July 01 Regular';
  font-style: normal;
  font-weight: normal;
  src: local("July 01 Regular"), url("https://www.cufonfonts.com/regular.woff") format("woff"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format("opentype"); }
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  fill: none;
  display: block;
  stroke: rgba(190, 5, 25, 0.2);
  stroke-width: 0.5;
  stroke-dasharray: 1 4; }
  .bg.type_01 {
    stroke: rgba(190, 5, 25, 0.7); }

.line {
  position: absolute;
  height: auto;
  stroke-width: 0.5;
  display: block; }
  .line.type_01 {
    width: 150px;
    left: calc(50% + 300px);
    bottom: calc(50% - 150px);
    transform: translate(-50%, -50%) rotate(345deg); }

body::-webkit-scrollbar {
  width: 6px; }

body::-webkit-scrollbar-thumb {
  height: 30%;
  background: #be0519; }

body::-webkit-scrollbar-track {
  background: rgba(190, 5, 25, 0.3); }

.header_warp {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 10px 30px 10px;
  box-sizing: border-box; }
  .header_warp .logo {
    width: 45px;
    height: 45px;
    position: relative;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='none' viewBox='0 0 45 35'%3E%3Cdefs%3E%3Cpath id='reuse-0' fill='%23000' d='M5.646 15.441c-5.61 3.57-7.112 10.228-4.18 14.936 2.93 4.705 9.522 6.223 15.135 2.653 5.613-3.566 7.112-10.228 4.185-14.932-2.932-4.709-9.527-6.223-15.14-2.657Zm8.217 13.193c-7.6 4.828-10.348 4.26-12.056 1.525C.1 27.42.788 24.67 8.384 19.841c7.6-4.828 10.348-4.261 12.055-1.522 1.708 2.736 1.024 5.486-6.576 10.315Z'/%3E%3Cpath id='reuse-1' fill='%23000' d='M42.464 13.744v16.262c0 1.921.407 2.835 2.4 2.83H45v.369h-1.131c-1.315 0-2.22-.139-3.715-.139-1.495 0-2.399.139-3.714.139H35.31v-.368h.137c1.992 0 2.4-.913 2.4-2.835V13.811c0-1.408-.533-1.973-1.55-2.012-.721-.028-2.345.798-3.453 1.474-1.186.704-2.372 1.258-3.585 1.34a.16.16 0 0 0-.153.163v15.23c0 1.921.407 2.835 2.4 2.835h.137v.367H30.51c-1.315 0-2.22-.138-3.714-.138-1.495 0-2.4.139-3.715.139h-1.13v-.368h.136c1.992 0 2.4-.914 2.4-2.835L24.483 5.08c0-1.878-.407-2.792-2.4-2.792h-.136v-.367h.904c2.129 0 5.346-.78 5.933-1.922h.317v13.649c0 .083.063.154.145.158.904.04 2.243-.411 3.366-1.198l.044-.03c1.7-1.188 3.643-2.545 6.817-2.153 1.824.226 2.967.938 2.99 3.318Z'/%3E%3C/defs%3E%3Cuse xlink:href='%23reuse-0'/%3E%3Cuse xlink:href='%23reuse-1'/%3E%3Cuse xlink:href='%23reuse-0'/%3E%3Cuse xlink:href='%23reuse-1'/%3E%3C/svg%3E") no-repeat; }
    .header_warp .logo::after {
      content: "";
      position: absolute;
      left: 7.5px;
      top: 0;
      background: #BE0519;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      animation: bounce 0.45s cubic-bezier(0.19, 1, 0.22, 1) infinite alternate; }
  .header_warp .nav_wrap {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.8rem; }
    .header_warp .nav_wrap .hamburger_menu {
      position: relative;
      top: 0;
      left: 0;
      width: 40px;
      height: 10px;
      overflow: hidden; }
      .header_warp .nav_wrap .hamburger_menu i {
        position: relative;
        display: block;
        width: 40px;
        height: 2px;
        background-color: #333;
        margin-bottom: 5px;
        border-radius: 2px; }
      .header_warp .nav_wrap .hamburger_menu i:last-child {
        transform: translateX(-15px); }

.visual_cont {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: 'July 01 Regular',sans-serif; }
  .visual_cont .visual_title {
    letter-spacing: -0.3vw;
    font-size: clamp(5rem, 19vw, 20rem); }
    .visual_cont .visual_title.bottom {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      align-items: stretch; }
      .visual_cont .visual_title.bottom em {
        position: relative;
        display: inline-flex;
        flex-grow: 1;
        align-items: end; }
        .visual_cont .visual_title.bottom em::before {
          content: "";
          width: auto;
          display: flex;
          flex-grow: 1;
          height: 1px;
          background: #000;
          margin: 5vw 1vw 5vw 3vw; }
  .visual_cont .visual_title_sub {
    text-align: right;
    font-weight: 600;
    font-size: clamp(0.5rem, 3vw, 2rem);
    font-family: "AppleSDGothicNeoR" ,sans-serif;
    text-transform: uppercase; }
    .visual_cont .visual_title_sub span {
      position: relative;
      padding: 10px; }
      .visual_cont .visual_title_sub span .circle {
        content: "";
        position: absolute;
        left: 50%;
        top: calc(50% + 8px);
        width: 100%;
        height: 100%;
        stroke-dasharray: 423;
        transform: translate(-50%, -50%) rotate(-180deg);
        animation: dash 0.35s cubic-bezier(0.45, 0, 0.55, 1) 0s;
        animation-iteration-count: 1; }

section {
  height: 100vh;
  position: relative; }
  section .info_wrap {
    padding: 15rem 0;
    max-width: 1200px;
    margin: 0 auto; }
    section .info_wrap .info_title {
      font-family: 'July 01 Regular',sans-serif;
      font-size: clamp(4rem, 16vw, 18rem);
      text-transform: uppercase;
      color: #e5e5e5;
      position: absolute;
      right: -30px;
      top: -10px;
      z-index: 2; }
    section .info_wrap .info_inner {
      position: relative;
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
      align-items: center;
      padding: 7rem 0; }
      section .info_wrap .info_inner .info_txt {
        font-size: clamp(0.8rem, 4vw, 2.8rem);
        line-height: 1.6;
        letter-spacing: -0.05vw;
        text-align: right;
        position: relative;
        z-index: 3; }
      section .info_wrap .info_inner .info_img {
        position: relative;
        top: 50px;
        transition: transform 0.3s;
        transform-style: preserve-3d;
        transform: perspective(500px);
        margin-right: 6rem; }
        section .info_wrap .info_inner .info_img .img_box {
          width: 400px;
          height: 400px;
          position: relative;
          overflow: hidden;
          border-radius: 50%;
          cursor: pointer;
          transition: transform 0.3s; }
          section .info_wrap .info_inner .info_img .img_box::before, section .info_wrap .info_inner .info_img .img_box::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            transition: all .3s ease;
            background-size: 100% !important; }
          section .info_wrap .info_inner .info_img .img_box::before {
            background: white url("../images/portfolio_img_01.png") no-repeat;
            z-index: 3;
            opacity: 1; }
          section .info_wrap .info_inner .info_img .img_box::after {
            background: white url("../images/portfolio_img_02.png") no-repeat;
            z-index: 2;
            opacity: 0; }
          section .info_wrap .info_inner .info_img .img_box:hover::before {
            opacity: 0; }
          section .info_wrap .info_inner .info_img .img_box:hover::after {
            opacity: 1; }
        section .info_wrap .info_inner .info_img::before {
          content: "";
          position: absolute;
          left: -20rem;
          top: -5rem;
          transition: all .4s ease;
          width: 100%;
          height: 100%;
          border: 1px dotted rgba(190, 5, 25, 0.6);
          border-radius: 50%;
          transform: translateY(0) translate3d(0, 0, 0); }
      section .info_wrap .info_inner .info_img:hover::before {
        transform: translateY(-10px) translate3d(0, -5px, 0); }
      section .info_wrap .info_inner .info_img:hover .img_box {
        transform: translateY(10px) translate3d(0, 5px, 0); }

@keyframes bounce {
  0% {
    transform: translateY(3%) scaleY(0.95); }
  100% {
    transform: translateY(-30%) scaleY(1.05); } }
@keyframes dash {
  0% {
    stroke-dashoffset: 423; }
  100% {
    stroke-dashoffset: 0; } }

/*# sourceMappingURL=layout.css.map */
